<p>
  <strong>Workout:</strong>
  <%= @exercise.workout %>
</p>

<p>
  <strong>Photo:</strong>
  <img src= "<%= @exercise.photoUrl %>">
</p>
<p>
  <strong>Description:</strong>
  <%= @exercise.description %>
</p>
<p>
<%= @exercise.video %>
</p>
