  <h2><% @muscle.title %></h2>
  <% @muscle.exercises.each do |exercise| %>

  <p><%= exercise.workout %></p>
  <p><img src= "<%= exercise.photoUrl %>"/>
    </p>
    <%= link_to 'Show', muscle_exercise_path(exercise) %>

  <%end%>
